<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>

<style>
    body 	{background: #EDEDED;}
    h4 		{color:#E4AE1C;
        	 font-family:arial;}
    label 	{font-weight:bold;
        	 font-family:arial;
             color:#525250;
             font-size: 12px;}
    p 		{font-family:sans;
        	 font-size:13px;}
</style>
<title>Flugfélag Íslands</title>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="qrcode.js"></script>
<script type="text/javascript" src="getAddress.js"></script>
</head>
<body>
                    
<div class="Booking-Rounded-Content-Box">
     <h4> GREIÐSLA </h4>
    
    <div class="payment">
        <p id="paragraph">
            Vinsamlegast athugaðu að réttar dagsetningar hafa verið valdar áður en gengið er frá greiðslu. Eftirfarandi upphæð verður skuldfærð. 
            <span class="currency">kr.</span> <span class="price" id="priceToBeBilled">11.800</span>
        </p>
        
        <div class="first-col">
            <label>VELDU GREIÐSLUTEGUND  &nbsp;</label>
            
            <select id="Booking_Payment_PaymentMethod" name="Booking.Payment.PaymentMethod" tabindex="11"><option value="UATP">Flugkort</option>
<option value="CC">Grei&#240;slukort</option>
<option value="Netgiro">Netgiro</option>
<option value="Smileycoin">Smileycoin</option>
</select>      
     <br/>       
            <p id="smileyamount" style="display:none" > Upphæð: 500 000 SMLY </p>
            <a href="smileycoin:BGs1L33mgDz8mUAE5h3bgmuo7s9r5Et8ne?amount=500000.0&label=airfare" id="payWithSMLYURL"><button type="button" id="payWithSMLY" style="display:none">Greiða með SMLY</button></a>

<br/>
<br/>
<div id="message" style="display:none"><p>We couldn't get a smileycoin address for you at this time. Please try again later.</div>
<div id="qrcode" style="display:none"></div>
<script type="text/javascript">
new QRCode(document.getElementById("qrcode"), "smileycoin:BGs1L33mgDz8mUAE5h3bgmuo7s9r5Et8ne?amount=500000.0&label=airfare");
</script>

       <br/>     
            <div id="Payment-CreditCard">            
                <div id="divSplitPayment">   
                </div>  
                <label id="korthafi">KORTHAFI</label>
                <br/>
                <input autocomplete="off" class="cardName" id="Booking_Payment_CardHolder" name="Booking.Payment.CardHolder" tabindex="12" title="" type="text" value="" />
                <span class="asterisk">*</span>
                <div>
                    <label id="kortanumer">KORTANÚMER</label>
                    <br/>
                    <input autocomplete="off" class="cardNumber" id="Booking_Payment_CardNumber" name="Booking.Payment.CardNumber" tabindex="13" title="" type="tel" value="" />
                    <span class="asterisk">*</span>
                </div>
                <div class="expiry-date">
                    <label id="gildistimi">GILDISTÍMI</label>
<br>
                    <select id="Booking_Payment_ExpirationDateMonth" name="Booking.Payment.ExpirationDateMonth" style="float:left;width:85px;margin-right:10px;" tabindex="14"><option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select>
                    <select id="Booking_Payment_ExpirationDateYear" name="Booking.Payment.ExpirationDateYear" style="float:left;width:100px;" tabindex="15"><option value="2016">2016</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
<option value="2020">2020</option>
<option value="2021">2021</option>
<option value="2022">2022</option>
<option value="2023">2023</option>
<option value="2024">2024</option>
<option value="2025">2025</option>
<option value="2026">2026</option>
<option value="2027">2027</option>
<option value="2028">2028</option>
<option value="2029">2029</option>
<option value="2030">2030</option>
<option value="2031">2031</option>
<option value="2032">2032</option>
<option value="2033">2033</option>
<option value="2034">2034</option>
<option value="2035">2035</option>
<option value="2036">2036</option>
</select>
                     <span class="asterisk">&nbsp;*</span>    
                </div>
                <div class="cvc-number">
                <br/>
                    <label id="cvcnumer">CVC NÚMER</label>
<br/>
                    <input Value="" autocomplete="off" class="cvvNumber" id="Booking_Payment_CVCode" maxlength="4" name="Booking.Payment.CVCode" style="float:left;width:60px;" tabindex="16" title="" type="tel" value="" />
                    <span class="asterisk">*</span>    
                </div>
                <div class="clear"></div>
                 <br>
                <label>ATHUGASEMD FYRIR FLUGKORT</label>
<br>
                    <textarea cols="20" id="Booking_Payment_Comment" maxlength="50" name="Booking.Payment.Comment" rows="2" tabindex="17">
</textarea>   
<br>   
                <div style="float: left; clear: both;"></div>
            </div>
                <div id="NetgiroDescription">
                    <div style="clear: both"></div>

                    <div style="clear: both"></div>
                    <input Value="UATP" id="Booking_Payment_PaymentMethod" name="Booking.Payment.PaymentMethod" type="hidden" value="" />
                </div>
                </div>
            </div>                   
        </div>
        <div class="second">
        <div class="third-col">         
        </div>
    </div>
    <div style="clear: both"></div> 
</div>
            </div>   
             <div style="clear: both"></div>    
            <div class="Booking-Rounded-Content-Box" style="padding-top: 0; padding-bottom: 0;">
                <div class="important">
                    <div style="padding-top: 11px; padding-bottom: 11px;">
                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
            <div style="display: none">
                <div class="validation-summary-valid" id="valSumId">
</div>
            </div>
            <div style="float: center">
                <input type="submit" id="btnPurchaseNow" class="btnProceedWithBooking_en" value="Greiða" />
                <input type="button" id="btnBack" value="Til baka" />
            </div>            
            <input id="Booking_VoucherNumbers" name="Booking.VoucherNumbers" type="hidden" value="" />
            <input id="Booking_VoucherBalance" name="Booking.VoucherBalance" type="hidden" value="0" />
            <input id="Booking_WebVoucherNumbers" name="Booking.WebVoucherNumbers" type="hidden" value="" />
            <input id="Booking_WebVoucherId" name="Booking.WebVoucherId" type="hidden" value="0" />
            <input id="Booking_WebVoucherAmount" name="Booking.WebVoucherAmount" type="hidden" value="0" />
            <input id="CurrencyCode" name="CurrencyCode" type="hidden" value="ISK" />
        </div>
        </form>
    </div>
    <div style="clear: both"></div>
            </div>
        </div>
        <div id="Booking-RightContent">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="hide.js"></script>
</body>
</html>


