<!DOCTYPE html>
<html>
   <head>
      <title>Vefverslun Smiley</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
      <script type="text/javascript" src="/static/jquery.min.js"></script>
      <script type="text/javascript" src="/static/dropdown.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <link rel="stylesheet" type="text/css" href="/static/dropdownstyle.css">
      <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
   </head>
   <body>
      <header>
	 <nav>
		 <div class="dropdowns">
          <div class="dropdown">
             <div class="dropbtn" id="testId">Kaupa gjafakóða</div>
             <div id="firstDropdown" class="dropdown-content flexNavBtns">
               {% for p in availableProducts %}
                 <a href="product.html?prodID={{p.prodId}}">{{p.prodName}}</a>
               {% endfor %}
             </div>
          </div>
          <div class="dropdown">
                  <div class="dropbtn">Sækja veski</div>
                  <div id="secondDropdown" class="dropdown-content flexNavBtns">
                     <a href="https://play.google.com/store/apps/details?id=hashengineering.smileycoin.wallet&hl=en">Android</a>
                     <a href="https://itunes.apple.com/us/app/smileywallet/id1126330210?mt=8">iOS</a>
                     <a href="https://tutor-web.info/smileycoin/download/smileycoin-qt.exe">Windows</a>
                     <a href="https://tutor-web.info/smileycoin/download/smly-on-linux">Linux</a>
                     <a href="https://tutor-web.info/smileycoin/download/macveski.zip/@@download/file/Smileycoin-Qt-OSX-0871.zip">OS X</a>
                  </div>
            </div>
      </div>
      <div class="menuText">
            <a href="index.html"><h2>Smiley Vefverslun</h2></a>
      </div>
	 </nav>
      </header>
      <div class="index_container">
         <div class="sponsors">
           <a href="https://www.flugfelag.is/"><img src="/static/sponsors/airiceland.jpg" alt="Flugfélag Íslands" /></a>
           <a href="http://www.hi.is/"><img src="/static/sponsors/UI.logo.gif" alt="Háskóli Íslands" /></a>
         </div>
         <h1>Broskallar - Smileycoin - SMLY</h1>
         <p>
           Broskallarnir eru rafmynt (eins og Bitcoin or Auroracoin), sem er hægt að hlaða niður í rafrænt veski. Þessari tilteknu rafmynt, SMLY, er lýst nokkuð ítarlega á heimasíðu SMLY. Þar sem broskallarnir eru rafmynt er hægt að flytja þá úr einu SMLY veski í annað.
         </p>

         <p>
           Nokkur námskeið HÍ eru sett upp þannig að nemendur fá einn (eða fáeina) broskalla fyrir að ná 5 í einkunn í fyrirlestri en fá svo fleiri broskalla fyrir að ná 10 í einkunn (raunar 9.75) og miklu fleiri fyrir að ná toppeinkunn í heilum kafla (tutorial). Þetta er mest til gamans gert, en þessa broskalla má t.a.m. nota sem greiðslu fyrir aðstoð.
         </p>
         <H2>Hvernig má nota Broskalla?</H2>

         
         <ul>
           <li>Kaupa afsláttarkóða, m.a. hjá Flugfélagi Íslands</li>
           <li>Borga samnemendum fyrir aðstoð í tutor-web kerfinu</li>
           <li>Kaupa kaffi í Hámu hjá Háskóla Íslands</li>
           <li>Kaupa og selja hvað sem er í gegnum  <a href="https://www.cryptopia.co.nz/MarketPlace">markaði</a></li>
           <li>Spila einföld spil s.s.  <a href="https://novaexchange.com/dice/">"double or nothing"</a> spilið</li>
           <li><a href="https://www.cryptopia.co.nz/Exchange?market=SMLY_DOGE">Selja SMLY á rafmyntamarkaði</a></li>
           <li>Frekari upplýsingar má finna á <a href="http://smly.trade">smly.trade</a></li>
         </ul>
         

         <h2>Rafmynt, hvað?</h2>
         
         <p>Rafmynt er velþekkt hugtak og má nefna t.d. Bitcoin, Auroracoin, Litecoin og Dogecoin. Broskallarnir eru í eðli sínu nákvæmlega eins.</p>
         
         <p>Fyrst þarf að ná í veski og síðan má geyma rafmyntina í veskinu. Veskið er ekkert annað en lítið forrit (app) sem kann að halda utan um SMLY. Síðan má greiða með rafmynt og biðja aðra um að senda greiðslu á veskisfang, kennitölu sem veskið býr til. Þessa kennitölu má senda hverjum þeim sem á að senda eiganda veskisins Broskalla.</p>
         
         <p>Flestar veskjagerðir kunna að gefa upp inneignina á mismunandi vegu, ekki bara sem fjölda Broskalla heldur líka í krónum eða evrum.</p>
         
         <p>Ertu að heyra um SMLY í fyrsta skipti? Nánari upplýsingar má nálgast <a href="http://tutor-web.info/smileycoin">hér.</a></p>
      </div>
      <footer id="footer">
         <p>Education in a Suitcase 2016 - educationinasuitcase@educationinasuitcase.com</p>
      </footer>
   </body>
</html>
