<!DOCTYPE html>
<html>
   <head>
      <title>Vefverslun Smiley</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
      <script type="text/javascript" src="/static/jquery.min.js"></script>
      <script type="text/javascript" src="/static/dropdown.js"></script>
      <script type="text/javascript" src="/static/footer.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <link rel="stylesheet" type="text/css" href="/static/dropdownstyle.css">
      <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
   </head>
   <body>
      <header>
	 <nav>
		 <div class="dropdowns">
          <div class="dropdown">
             <div class="dropbtn" id="testId">Kaupa gjafamiða</div>
             <div id="firstDropdown" class="dropdown-content flexNavBtns">
               <a href="product.html?prodID=1">Flugfélag Íslands</a>
             </div>
          </div>
          <div class="dropdown">
                  <div class="dropbtn">Sækja veski</div>
                  <div id="secondDropdown" class="dropdown-content flexNavBtns">
                     <a href="https://play.google.com/store/apps/details?id=hashengineering.smileycoin.wallet&hl=en">Android</a>
                     <a href="https://itunes.apple.com/us/app/smileywallet/id1126330210?mt=8">iOS</a>
                     <a href="https://tutor-web.info/smileycoin/download/smileycoin-qt.exe">Windows</a>
                     <a href="https://tutor-web.info/smileycoin/download/smly-on-linux">Linux</a>
                     <a href="https://tutor-web.info/smileycoin/download/macveski.zip/@@download/file/Smileycoin-Qt-OSX-0871.zip">OS X</a>
                  </div>
            </div>
      </div>
      <div class="menuText">
            <a href="index.html"><h2>Smiley Vefverslun</h2></a>
      </div>
	 </nav>
      </header>
      <div class="container">
         <main class="smallScreenFlex columnFlex">
             <h2>Þessi vara er ekki til í augnablikinu. Vinsamlegast reyndu aftur síðar.</h2>
         </main>
         
      </div>
      <footer id="footer">
         <p>Education in a Suitcase 2016 - educationinasuitcase@gmail.com</p>
      </footer>
   </body>
</html>
