<!DOCTYPE html>
<html>
   <head>
      <title>Vefverslun Smiley</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
      <script type="text/javascript" src="/static/jquery.min.js"></script>
      <script type="text/javascript" src="/static/qrcode.js"></script>
      <script type="text/javascript" src="/static/uiControl.js"></script>
      <script type="text/javascript" src="/static/product.js"></script>
      <script type="text/javascript" src="/static/dropdown.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <link rel="stylesheet" type="text/css" href="/static/paymentStyle.css">
      <link rel="stylesheet" type="text/css" href="/static/dropdownstyle.css">
      <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
   </head>
   <body>
      <header>
	 <nav>
      <div class="dropdowns">
   		 <div class="dropdown">
   		    <div class="dropbtn" id="testId">Kaupa gjafamiða</div>
                    <div id="firstDropdown" class="dropdown-content flexNavBtns">
                      {% for p in availableProducts %}
                        <a href="product.html?prodID={{p.prodId}}">{{p.prodName}}</a>
                      {% endfor %}
                    </div>
   		 </div>
          <div class="dropdown">
                  <div class="dropbtn">Sækja veski</div>
                  <div id="secondDropdown" class="dropdown-content flexNavBtns">
                     <a href="https://play.google.com/store/apps/details?id=hashengineering.smileycoin.wallet&hl=en">Android</a>
                     <a href="https://itunes.apple.com/us/app/smileywallet/id1126330210?mt=8">iOS</a>
                     <a href="https://tutor-web.info/smileycoin/download/smileycoin-qt.exe">Windows</a>
                     <a href="https://tutor-web.info/smileycoin/download/smly-on-linux">Linux</a>
                     <a href="https://tutor-web.info/smileycoin/download/macveski.zip/@@download/file/Smileycoin-Qt-OSX-0871.zip">OS X</a>
                  </div>
            </div>
      </div>
      <div class="menuText">
            <a href="index.html"><h2>Smiley Vefverslun</h2></a>
      </div>
	 </nav>
      </header>
      <div class="container">
         <main class="smallScreenFlex columnFlex">
            <form class="smallScreenFlex columnFlex activePayment" id="cartForm" action = "javascript:submitPurchaseRequest();">
               <ul class="columnFlex">
               <li class="largeLiBox inlineFlex">
                  {% block content %}
                  <div class="columnFlex" id="productDescr">
                     <span class="productName">{{ productName }}</span>
                     <span>
                        <p class="leftFlex">
                        <span id="prodPriceUnformatted" style="display: none;">{{ productPrice }}</span>
                        <span id="prodPrice">{{ productPrice }}</span>
                        </p>
                     </span>
                  </div>
                  <input class="smallLiBox" name="noItems" id="noItemsInput" type="number" min="1" max="{{ productStock }}" value="1"/>
                  <div class="smallLiBox" id="noItemsBox"/></div>  
                  {% endblock %}
               </li>
               <li class="leftFlex" id="upperLi" style="border-bottom: 1px solid grey">
                  <h1 id="priceLabel">Verð:</h1>
               </li>
               <li class="rightFlex" id="lowerLi">
                  <h1 id="totPriceLabel">
                     <span id="totPrice"></span>
                     <input name="totPrice" id="totPriceInput" type="hidden" type="number"/></h1>
               </li>
               <li class="columnFlex">
                     <input type="hidden" name="prodID" value="{{ prodID }}"/>
                     <input type="submit" id="fundBtn" class="styledBtn" value="Halda áfram í greiðslu" name="submit" alt="Buy a Gift Certificate"/> 
               </li>
               </ul>
            </form>
            <!-- SMILEYCOIN ADDITION -->
            <div class="paymentInterface">
               <div class="rowFlexContainer smlyInformation" id="paySMLY">
               <div class="colFlexContainer largeFlexItem">
               <input type="button" id="payWithSMLY"  class="smlyInformation smallFlexItem styledBtn" type="button" onclick="location.href='smileycoin:XXX?amount=0.0&label=completed_by_js';" value="Greiða með SMLY"/>
               <input type="button" id="verifyPayment" class="smlyInformation smallFlexItem verify styledBtn" value="Staðfesta greiðslu"/>
               </div>
                     <div id="qrcode" class="smlyInformation largeFlexItem"></div>
               </div>  
               <script type="text/javascript">
                  new QRCode(document.getElementById("qrcode"), "smileycoin:XXX?amount=0.0&label=completed_by_js");
               </script> 
               <div id="verifyBox" class="smlyInformation"> <span id="verifyText">Greiðsla óstaðfest</span> </div>            
               <!-- /SMILEYCOIN ADDITION -->
            </div>
            <p><span id="message"></span></p>  
         </main>
         
      </div>
      <footer id="footer">
         <p>Education in a Suitcase 2016 - educationinasuitcase@gmail.com</p>
      </footer>
   </body>
</html>
